html {
  max-width: 480px;
  margin: 0 auto;
  background-color: #f7f7f8;
}

body {
  text-align: center;
  padding: 4rem 0;
}

.home-header {
  display: flex;
  flex-direction: column;

  svg {
      width: 80%;
      height: 80%;
      

  }
}

.ui-link {
  font-size: 1.5rem;
  color: #f7f7f8;
  background-color: #001a46;
  width: 10rem;
  padding: 7px 0;
  text-decoration: none;
  border: 1px solid #001a46;
  border-radius: 10px;
  margin: 4rem auto;
}